
<div class="bilde">
  <img src="./assets/Skjermbilde 2023-04-20 122144.png" alt="work!!!">

</div>

<div>
  <div class="black-rectangle"></div>
</div>

<div class="text1">
  <p>
    наполнитель
  </p>
</div>

<div class="text2">
  <p>
    наполнитель
  </p>
</div>

<div class="text3">
  <p>
    наполнитель
  </p>
</div>

<div class="text4">
  <p style="max-width: 1000px;">
    Мы не новички в любви
Вы знаете правила, и я тоже (я)
Полное обязательство - это то, о чем я думаю
Вы бы не получили это от любого другого парня
Я просто хочу рассказать тебе, как я себя чувствую
Должен заставить вас понять
  </p>
</div>

<button mat-button class="button">
  наполнитель🡢
</button>
