

<div class="tabs">
  <mat-tab-group headerPosition="below">
    <mat-tab>
      <ng-template mat-tab-label>
        <div>Tab 1 content</div>
      </ng-template>
      <img src="./assets/Skjermbilde 2023-04-21 101639.png" alt="work!!!">
      <div>Tab 1 content</div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>Tab 1 content</div>
      </ng-template>
      <img src="./assets/Skjermbilde 2023-04-21 101639.png" alt="work!!!">
      <div>Tab 1 content</div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div>Tab 1 content</div>
      </ng-template>
      <img src="./assets/Skjermbilde 2023-04-21 101639.png" alt="work!!!">
      <div>Tab 1 content</div>
    </mat-tab>

  </mat-tab-group>
</div>

